* text=auto !eol
Abgabe01/Aufgabe01/text.txt -text
Abgabe01/Aufgabe02/G40S01A02/.classpath -text
Abgabe01/Aufgabe02/G40S01A02/.project -text
Abgabe01/Aufgabe02/G40S01A02/.settings/org.eclipse.jdt.core.prefs -text
Abgabe01/Aufgabe02/G40S01A02/classpath-abs.txt -text
Abgabe01/Aufgabe02/G40S01A02/classpath-rel.txt -text
Abgabe01/Aufgabe02/G40S01A02/lib/commons-lang3-3.3.2.jar -text
Abgabe01/Aufgabe02/G40S01A02/src/swt/Example.java -text
Abgabe01/Aufgabe02/G40S01A02/swt-test.jar -text
Abgabe03/Aufgabe01/.classpath -text
Abgabe03/Aufgabe01/.project -text
Abgabe03/Aufgabe01/build.xml -text
Abgabe03/Aufgabe01/pom.xml -text
Abgabe03/Aufgabe01/src/abgabe03/callee/Callee.java -text
Abgabe03/Aufgabe01/src/abgabe03/caller/Caller.java -text
Abgabe03/Aufgabe02/.classpath -text
Abgabe03/Aufgabe02/.project -text
Abgabe03/Aufgabe02/pom.xml -text
Abgabe03/Aufgabe03/.classpath -text
Abgabe03/Aufgabe03/.project -text
Abgabe03/Aufgabe03/src/de/cau/restaurant/speisen/Dosensuppe.java -text
Abgabe03/Aufgabe04/Versionsmanagment.zip -text
Abgabe04/Aufgabe01/G40S04A01.pdf -text
Abgabe04/Aufgabe01/G40S04A01.vpp -text
Abgabe04/Aufgabe02/G40S04A02.vpp -text
Abgabe04/Aufgabe02/Visual_Paradigm_Standard_-_G40S04A02.pdf -text
Abgabe05/Aufgabe01/G20S05A01a.pdf -text
Abgabe05/Aufgabe01/G40S05A01.vpp -text
Abgabe05/Aufgabe01/G40S05A01b.pdf -text
Abgabe05/Aufgabe02/G40S05A02.vpp -text
Abgabe05/Aufgabe02/Visual_Paradigm_Standard_-_G40S05A02.pdf -text
Abgabe05/Aufgabe02/src-gen/AbstractMarineOrganism.java -text
Abgabe05/Aufgabe02/src-gen/Fish.java -text
Abgabe05/Aufgabe02/src-gen/IMarineObject.java -text
Abgabe05/Aufgabe02/src-gen/Ocean.java -text
Abgabe05/Aufgabe02/src-gen/Rock.java -text
Abgabe05/Aufgabe02/src-gen/Shark.java -text
Abgabe05/Aufgabe02/src-gen/build.xml -text
Abgabe05/Aufgabe03/.classpath -text
Abgabe05/Aufgabe03/.project -text
Abgabe05/Aufgabe03/src/de/webtwob/st/aufgabe05/abgabe03/clazz/ClickableElement.java -text
Abgabe05/Aufgabe03/src/de/webtwob/st/aufgabe05/abgabe03/clazz/ClickablePicture.java -text
Abgabe05/Aufgabe03/src/de/webtwob/st/aufgabe05/abgabe03/clazz/GUIElement.java -text
Abgabe05/Aufgabe03/src/de/webtwob/st/aufgabe05/abgabe03/clazz/PictureElement.java -text
Abgabe05/Aufgabe03/src/de/webtwob/st/aufgabe05/abgabe03/interfaze/IClickableElement.java -text
Abgabe05/Aufgabe03/src/de/webtwob/st/aufgabe05/abgabe03/interfaze/IGUIElement.java -text
Abgabe05/Aufgabe03/src/de/webtwob/st/aufgabe05/abgabe03/interfaze/IPictureElement.java -text
Abgabe06/Aufgabe01/G40S06A01.pdf -text
Abgabe06/Aufgabe01/G40S06A01.vpp -text
Abgabe06/Aufgabe02/.classpath -text
Abgabe06/Aufgabe02/.project -text
