/.svn
Abgabe01/Aufgabe02/G40S01A02/bin
Abgabe03/Aufgabe01/bin
Abgabe03/Aufgabe01/classes
Abgabe03/Aufgabe01/jars
Abgabe03/Aufgabe01/target
Abgabe03/Aufgabe02/.settings
Abgabe03/Aufgabe02/bin
Abgabe03/Aufgabe02/target
Abgabe03/Aufgabe03/bin
Abgabe05/Aufgabe03/bin
