/*.vpp.bak*
/.svn
Abgabe01/*.vpp.bak*
Abgabe01/Aufgabe01/*.vpp.bak*
Abgabe01/Aufgabe02/*.vpp.bak*
Abgabe01/Aufgabe02/G40S01A02/*.vpp.bak*
Abgabe01/Aufgabe02/G40S01A02/.settings/*.vpp.bak*
Abgabe01/Aufgabe02/G40S01A02/bin
Abgabe01/Aufgabe02/G40S01A02/lib/*.vpp.bak*
Abgabe01/Aufgabe02/G40S01A02/src/*.vpp.bak*
Abgabe01/Aufgabe02/G40S01A02/src/swt/*.vpp.bak*
Abgabe03/*.vpp.bak*
Abgabe03/Aufgabe01/*.vpp.bak*
Abgabe03/Aufgabe01/bin
Abgabe03/Aufgabe01/classes
Abgabe03/Aufgabe01/jars
Abgabe03/Aufgabe01/src/*.vpp.bak*
Abgabe03/Aufgabe01/src/abgabe03/*.vpp.bak*
Abgabe03/Aufgabe01/src/abgabe03/callee/*.vpp.bak*
Abgabe03/Aufgabe01/src/abgabe03/caller/*.vpp.bak*
Abgabe03/Aufgabe01/target
Abgabe03/Aufgabe02/*.vpp.bak*
Abgabe03/Aufgabe02/.settings
Abgabe03/Aufgabe02/bin
Abgabe03/Aufgabe02/target
Abgabe03/Aufgabe03/*.vpp.bak*
Abgabe03/Aufgabe03/bin
Abgabe03/Aufgabe03/src/*.vpp.bak*
Abgabe03/Aufgabe03/src/de/*.vpp.bak*
Abgabe03/Aufgabe03/src/de/cau/*.vpp.bak*
Abgabe03/Aufgabe03/src/de/cau/restaurant/*.vpp.bak*
Abgabe03/Aufgabe03/src/de/cau/restaurant/speisen/*.vpp.bak*
Abgabe03/Aufgabe04/*.vpp.bak*
Abgabe04/*.vpp.bak*
Abgabe04/Aufgabe01/*.vpp.bak*
Abgabe04/Aufgabe02/*.vpp.bak*
Abgabe05/*.vpp.bak*
Abgabe05/Aufgabe01/*.vpp.bak*
Abgabe05/Aufgabe02/*.vpp.*
Abgabe05/Aufgabe02/*.vpp.bak*
Abgabe05/Aufgabe02/src-gen/*.vpp.bak*
Abgabe05/Aufgabe03/*.vpp.bak*
Abgabe05/Aufgabe03/bin
Abgabe05/Aufgabe03/src/*.vpp.bak*
Abgabe05/Aufgabe03/src/de/*.vpp.bak*
Abgabe05/Aufgabe03/src/de/webtwob/*.vpp.bak*
Abgabe05/Aufgabe03/src/de/webtwob/st/*.vpp.bak*
Abgabe05/Aufgabe03/src/de/webtwob/st/aufgabe05/*.vpp.bak*
Abgabe05/Aufgabe03/src/de/webtwob/st/aufgabe05/abgabe03/*.vpp.bak*
Abgabe05/Aufgabe03/src/de/webtwob/st/aufgabe05/abgabe03/clazz/*.vpp.bak*
Abgabe05/Aufgabe03/src/de/webtwob/st/aufgabe05/abgabe03/interfaze/*.vpp.bak*
Abgabe06/*.vpp.bak*
Abgabe06/Aufgabe01/*.vpp.bak*
Abgabe06/Aufgabe02/*.vpp.bak*
Abgabe06/Aufgabe02/bin
Abgabe06/Aufgabe02/lib/*.vpp.bak*
Abgabe06/Aufgabe02/lib/Webstore-Javadoc/*.vpp.bak*
Abgabe06/Aufgabe02/lib/Webstore-Javadoc/auth/*.vpp.bak*
Abgabe06/Aufgabe02/lib/Webstore-Javadoc/auth/class-use/*.vpp.bak*
Abgabe06/Aufgabe02/lib/Webstore-Javadoc/cart/*.vpp.bak*
Abgabe06/Aufgabe02/lib/Webstore-Javadoc/cart/class-use/*.vpp.bak*
Abgabe06/Aufgabe02/lib/Webstore-Javadoc/index-files/*.vpp.bak*
Abgabe06/Aufgabe02/lib/Webstore-Javadoc/persistence/*.vpp.bak*
Abgabe06/Aufgabe02/lib/Webstore-Javadoc/persistence/class-use/*.vpp.bak*
Abgabe06/Aufgabe02/lib/Webstore-Javadoc/resources/*.vpp.bak*
Abgabe06/Aufgabe02/lib/Webstore-Javadoc/user/*.vpp.bak*
Abgabe06/Aufgabe02/lib/Webstore-Javadoc/user/class-use/*.vpp.bak*
Abgabe06/Aufgabe02/lib/Webstore-Javadoc/webstore/*.vpp.bak*
Abgabe06/Aufgabe02/lib/Webstore-Javadoc/webstore/class-use/*.vpp.bak*
Abgabe06/Aufgabe02/src/*.vpp.bak*
Abgabe06/Aufgabe03/*.vpp.bak*
Abgabe06/Aufgabe03/bin
Abgabe06/Aufgabe03/src/*.vpp.bak*
Abgabe06/Aufgabe03/src/aggregation/*.vpp.bak*
Abgabe06/Aufgabe03/src/komposition/*.vpp.bak*
Abgabe07/*.vpp.bak*
Abgabe07/Aufgabe01/*.vpp.bak*
Abgabe07/Aufgabe03/*.*.vpp.lck
Abgabe07/Aufgabe03/*.vpp.bak*
Abgabe08/Aufgabe03/*.G40S08A03.vpp.lck
Abgabe08/Aufgabe03/*.vpp.bak_*
Abgabe08/Aufgabe03/*.vpp.bak_000f
