* text=auto !eol
Abgabe01/Aufgabe01/text.txt -text
Abgabe01/Aufgabe02/G40S01A02/.classpath -text
Abgabe01/Aufgabe02/G40S01A02/.project -text
Abgabe01/Aufgabe02/G40S01A02/.settings/org.eclipse.jdt.core.prefs -text
Abgabe01/Aufgabe02/G40S01A02/classpath-abs.txt -text
Abgabe01/Aufgabe02/G40S01A02/classpath-rel.txt -text
Abgabe01/Aufgabe02/G40S01A02/lib/commons-lang3-3.3.2.jar -text
Abgabe01/Aufgabe02/G40S01A02/src/swt/Example.java -text
Abgabe01/Aufgabe02/G40S01A02/swt-test.jar -text
Abgabe03/Aufgabe01/.classpath -text
Abgabe03/Aufgabe01/.project -text
Abgabe03/Aufgabe01/build.xml -text
Abgabe03/Aufgabe01/pom.xml -text
Abgabe03/Aufgabe01/src/abgabe03/callee/Callee.java -text
Abgabe03/Aufgabe01/src/abgabe03/caller/Caller.java -text
Abgabe03/Aufgabe02/.classpath -text
Abgabe03/Aufgabe02/.project -text
Abgabe03/Aufgabe02/pom.xml -text
Abgabe03/Aufgabe03/.classpath -text
Abgabe03/Aufgabe03/.project -text
Abgabe03/Aufgabe03/src/de/cau/restaurant/speisen/Dosensuppe.java -text
Abgabe03/Aufgabe04/Versionsmanagment.zip -text
Abgabe04/Aufgabe01/G40S04A01.pdf -text
Abgabe04/Aufgabe01/G40S04A01.vpp -text
Abgabe04/Aufgabe02/G40S04A02.vpp -text
Abgabe04/Aufgabe02/Visual_Paradigm_Standard_-_G40S04A02.pdf -text
Abgabe05/Aufgabe01/G20S05A01a.pdf -text
Abgabe05/Aufgabe01/G40S05A01.vpp -text
Abgabe05/Aufgabe01/G40S05A01b.pdf -text
Abgabe05/Aufgabe02/G40S05A02.vpp -text
Abgabe05/Aufgabe02/Visual_Paradigm_Standard_-_G40S05A02.pdf -text
Abgabe05/Aufgabe02/src-gen/AbstractMarineOrganism.java -text
Abgabe05/Aufgabe02/src-gen/Fish.java -text
Abgabe05/Aufgabe02/src-gen/IMarineObject.java -text
Abgabe05/Aufgabe02/src-gen/Ocean.java -text
Abgabe05/Aufgabe02/src-gen/Rock.java -text
Abgabe05/Aufgabe02/src-gen/Shark.java -text
Abgabe05/Aufgabe02/src-gen/build.xml -text
Abgabe05/Aufgabe03/.classpath -text
Abgabe05/Aufgabe03/.project -text
Abgabe05/Aufgabe03/src/de/webtwob/st/aufgabe05/abgabe03/clazz/ClickableElement.java -text
Abgabe05/Aufgabe03/src/de/webtwob/st/aufgabe05/abgabe03/clazz/ClickablePicture.java -text
Abgabe05/Aufgabe03/src/de/webtwob/st/aufgabe05/abgabe03/clazz/GUIElement.java -text
Abgabe05/Aufgabe03/src/de/webtwob/st/aufgabe05/abgabe03/clazz/PictureElement.java -text
Abgabe05/Aufgabe03/src/de/webtwob/st/aufgabe05/abgabe03/interfaze/IClickableElement.java -text
Abgabe05/Aufgabe03/src/de/webtwob/st/aufgabe05/abgabe03/interfaze/IGUIElement.java -text
Abgabe05/Aufgabe03/src/de/webtwob/st/aufgabe05/abgabe03/interfaze/IPictureElement.java -text
Abgabe06/Aufgabe01/G40S06A01.pdf -text
Abgabe06/Aufgabe01/G40S06A01.vpp -text
Abgabe06/Aufgabe02/.classpath -text
Abgabe06/Aufgabe02/.project -text
Abgabe06/Aufgabe02/lib/AuthAPI.jar -text
Abgabe06/Aufgabe02/lib/AuthImpl.jar -text
Abgabe06/Aufgabe02/lib/CartAPI.jar -text
Abgabe06/Aufgabe02/lib/CartImpl.jar -text
Abgabe06/Aufgabe02/lib/PersistenceAPI.jar -text
Abgabe06/Aufgabe02/lib/PersistenceImpl.jar -text
Abgabe06/Aufgabe02/lib/UserAPI.jar -text
Abgabe06/Aufgabe02/lib/UserImpl.jar -text
Abgabe06/Aufgabe02/lib/Webstore-Javadoc/allclasses-frame.html -text
Abgabe06/Aufgabe02/lib/Webstore-Javadoc/allclasses-noframe.html -text
Abgabe06/Aufgabe02/lib/Webstore-Javadoc/auth/AuthImpl.html -text
Abgabe06/Aufgabe02/lib/Webstore-Javadoc/auth/IAuth.html -text
Abgabe06/Aufgabe02/lib/Webstore-Javadoc/auth/class-use/AuthImpl.html -text
Abgabe06/Aufgabe02/lib/Webstore-Javadoc/auth/class-use/IAuth.html -text
Abgabe06/Aufgabe02/lib/Webstore-Javadoc/auth/package-frame.html -text
Abgabe06/Aufgabe02/lib/Webstore-Javadoc/auth/package-summary.html -text
Abgabe06/Aufgabe02/lib/Webstore-Javadoc/auth/package-tree.html -text
Abgabe06/Aufgabe02/lib/Webstore-Javadoc/auth/package-use.html -text
Abgabe06/Aufgabe02/lib/Webstore-Javadoc/cart/CartImpl.html -text
Abgabe06/Aufgabe02/lib/Webstore-Javadoc/cart/ICart.html -text
Abgabe06/Aufgabe02/lib/Webstore-Javadoc/cart/class-use/CartImpl.html -text
Abgabe06/Aufgabe02/lib/Webstore-Javadoc/cart/class-use/ICart.html -text
Abgabe06/Aufgabe02/lib/Webstore-Javadoc/cart/package-frame.html -text
Abgabe06/Aufgabe02/lib/Webstore-Javadoc/cart/package-summary.html -text
Abgabe06/Aufgabe02/lib/Webstore-Javadoc/cart/package-tree.html -text
Abgabe06/Aufgabe02/lib/Webstore-Javadoc/cart/package-use.html -text
Abgabe06/Aufgabe02/lib/Webstore-Javadoc/constant-values.html -text
Abgabe06/Aufgabe02/lib/Webstore-Javadoc/deprecated-list.html -text
Abgabe06/Aufgabe02/lib/Webstore-Javadoc/help-doc.html -text
Abgabe06/Aufgabe02/lib/Webstore-Javadoc/index-files/index-1.html -text
Abgabe06/Aufgabe02/lib/Webstore-Javadoc/index-files/index-10.html -text
Abgabe06/Aufgabe02/lib/Webstore-Javadoc/index-files/index-2.html -text
Abgabe06/Aufgabe02/lib/Webstore-Javadoc/index-files/index-3.html -text
Abgabe06/Aufgabe02/lib/Webstore-Javadoc/index-files/index-4.html -text
Abgabe06/Aufgabe02/lib/Webstore-Javadoc/index-files/index-5.html -text
Abgabe06/Aufgabe02/lib/Webstore-Javadoc/index-files/index-6.html -text
Abgabe06/Aufgabe02/lib/Webstore-Javadoc/index-files/index-7.html -text
Abgabe06/Aufgabe02/lib/Webstore-Javadoc/index-files/index-8.html -text
Abgabe06/Aufgabe02/lib/Webstore-Javadoc/index-files/index-9.html -text
Abgabe06/Aufgabe02/lib/Webstore-Javadoc/index.html -text
Abgabe06/Aufgabe02/lib/Webstore-Javadoc/overview-frame.html -text
Abgabe06/Aufgabe02/lib/Webstore-Javadoc/overview-summary.html -text
Abgabe06/Aufgabe02/lib/Webstore-Javadoc/overview-tree.html -text
Abgabe06/Aufgabe02/lib/Webstore-Javadoc/package-list -text
Abgabe06/Aufgabe02/lib/Webstore-Javadoc/persistence/IPersistence.html -text
Abgabe06/Aufgabe02/lib/Webstore-Javadoc/persistence/PersistenceImpl.html -text
Abgabe06/Aufgabe02/lib/Webstore-Javadoc/persistence/class-use/IPersistence.html -text
Abgabe06/Aufgabe02/lib/Webstore-Javadoc/persistence/class-use/PersistenceImpl.html -text
Abgabe06/Aufgabe02/lib/Webstore-Javadoc/persistence/package-frame.html -text
Abgabe06/Aufgabe02/lib/Webstore-Javadoc/persistence/package-summary.html -text
Abgabe06/Aufgabe02/lib/Webstore-Javadoc/persistence/package-tree.html -text
Abgabe06/Aufgabe02/lib/Webstore-Javadoc/persistence/package-use.html -text
Abgabe06/Aufgabe02/lib/Webstore-Javadoc/resources/background.gif -text
Abgabe06/Aufgabe02/lib/Webstore-Javadoc/resources/tab.gif -text
Abgabe06/Aufgabe02/lib/Webstore-Javadoc/resources/titlebar.gif -text
Abgabe06/Aufgabe02/lib/Webstore-Javadoc/resources/titlebar_end.gif -text
Abgabe06/Aufgabe02/lib/Webstore-Javadoc/stylesheet.css -text
Abgabe06/Aufgabe02/lib/Webstore-Javadoc/user/IUser.html -text
Abgabe06/Aufgabe02/lib/Webstore-Javadoc/user/UserImpl.html -text
Abgabe06/Aufgabe02/lib/Webstore-Javadoc/user/class-use/IUser.html -text
Abgabe06/Aufgabe02/lib/Webstore-Javadoc/user/class-use/UserImpl.html -text
Abgabe06/Aufgabe02/lib/Webstore-Javadoc/user/package-frame.html -text
Abgabe06/Aufgabe02/lib/Webstore-Javadoc/user/package-summary.html -text
Abgabe06/Aufgabe02/lib/Webstore-Javadoc/user/package-tree.html -text
Abgabe06/Aufgabe02/lib/Webstore-Javadoc/user/package-use.html -text
Abgabe06/Aufgabe02/lib/Webstore-Javadoc/webstore/IWebstore.html -text
Abgabe06/Aufgabe02/lib/Webstore-Javadoc/webstore/class-use/IWebstore.html -text
Abgabe06/Aufgabe02/lib/Webstore-Javadoc/webstore/package-frame.html -text
Abgabe06/Aufgabe02/lib/Webstore-Javadoc/webstore/package-summary.html -text
Abgabe06/Aufgabe02/lib/Webstore-Javadoc/webstore/package-tree.html -text
Abgabe06/Aufgabe02/lib/Webstore-Javadoc/webstore/package-use.html -text
Abgabe06/Aufgabe02/lib/WebstoreAPI.jar -text
Abgabe06/Aufgabe02/src/Test.java -text
Abgabe06/Aufgabe02/src/WebstoreImpl.java -text
Abgabe06/Aufgabe03/.classpath -text
Abgabe06/Aufgabe03/.project -text
Abgabe06/Aufgabe03/src/aggregation/Lecture.java -text
Abgabe06/Aufgabe03/src/aggregation/Student.java -text
Abgabe06/Aufgabe03/src/aggregation/Test.java -text
Abgabe06/Aufgabe03/src/komposition/Lecture.java -text
Abgabe06/Aufgabe03/src/komposition/Session.java -text
Abgabe06/Aufgabe03/src/komposition/Test.java -text
Abgabe07/Aufgabe01/G40S07A01.pdf -text
Abgabe07/Aufgabe01/G40S07A01.vpp -text
Abgabe07/Aufgabe02/G40S07A02.pdf -text
Abgabe07/Aufgabe02/G40S07A02.vpp -text
Abgabe07/Aufgabe03/G40S07A03.vpp -text
Abgabe07/Aufgabe03/Visual_Paradigm_Standard_-_G40S07A03.pdf -text
Abgabe08/Aufgabe02/G40S08A02.pdf -text
Abgabe08/Aufgabe02/G40S08A02.vpp -text
Abgabe08/Aufgabe03/G40S08A03.vpp -text
Abgabe08/Aufgabe03/Visual_Paradigm_Standard_-_G40S08A03.pdf -text
Abgabe09/Aufgabe01/G40S09A01.pdf -text
Abgabe09/Aufgabe01/G40S09A01.vpp -text
Abgabe09/Aufgabe01/G40S09A01/.classpath -text
Abgabe09/Aufgabe01/G40S09A01/.project -text
Abgabe09/Aufgabe01/G40S09A01/.settings/org.eclipse.jdt.core.prefs -text
Abgabe09/Aufgabe01/G40S09A01/src/algorithmenstrategie/Algorithmenstrategie.java -text
Abgabe09/Aufgabe02/Teil[!!-~]a/G40S09A02a.pdf -text
Abgabe09/Aufgabe02/Teil[!!-~]a/G40S09A02a.vpp -text
Abgabe09/Aufgabe02/Teil[!!-~]b/G40S09A02b.pdf -text
Abgabe09/Aufgabe02/Teil[!!-~]b/G40S09A02b.vpp -text
Abgabe09/Aufgabe03/G40S09A03.pdf -text
Abgabe09/Aufgabe03/G40S09A03.vpp -text
Abgabe09/Aufgabe03/G40S09A03/.classpath -text
Abgabe09/Aufgabe03/G40S09A03/.project -text
Abgabe09/Aufgabe03/G40S09A03/.settings/org.eclipse.jdt.core.prefs -text
Abgabe09/Aufgabe03/G40S09A03/src/Composite/BinaryOperator.java -text
Abgabe09/Aufgabe03/G40S09A03/src/Composite/Main.java -text
Abgabe09/Aufgabe03/G40S09A03/src/Composite/Term.java -text
Abgabe09/Aufgabe03/G40S09A03/src/Composite/UnaryOperator.java -text
Abgabe09/Aufgabe03/G40S09A03/src/Composite/Zahl.java -text
Abgabe10/Aufgabe02/G40S10A02.pdf -text
Abgabe10/Aufgabe02/G40S10A02.vpp -text
