* text=auto !eol
Abgabe01/Aufgabe01/text.txt -text
Abgabe01/Aufgabe02/G40S01A02/.classpath -text
Abgabe01/Aufgabe02/G40S01A02/.project -text
Abgabe01/Aufgabe02/G40S01A02/.settings/org.eclipse.jdt.core.prefs -text
Abgabe01/Aufgabe02/G40S01A02/classpath-abs.txt -text
Abgabe01/Aufgabe02/G40S01A02/classpath-rel.txt -text
Abgabe01/Aufgabe02/G40S01A02/lib/commons-lang3-3.3.2.jar -text
Abgabe01/Aufgabe02/G40S01A02/src/swt/Example.java -text
Abgabe01/Aufgabe02/G40S01A02/swt-test.jar -text
Abgabe03/Aufgabe01/.classpath -text
Abgabe03/Aufgabe01/.project -text
Abgabe03/Aufgabe01/pom.xml -text
Abgabe03/Aufgabe01/src/abgabe03/callee/Callee.java -text
Abgabe03/Aufgabe01/src/abgabe03/caller/Caller.java -text
Abgabe03/Aufgabe03/.classpath -text
Abgabe03/Aufgabe03/.project -text
Abgabe03/Aufgabe03/src/de/cau/restaurant/speisen/Dosensuppe.java -text
Abgabe03/Aufgabe04/Versionsmanagment.zip -text
